@model SmartFarmingAssistant.Models.User

@{
    ViewBag.Title = "AccountDetails";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Customer Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update Profile", "Edit", new { id = Model.id }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>    

</p>
