@model SmartFarmingAssistant.Models.Order

@{
    ViewBag.Title = "Edit Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Order Status</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.dateTime)
    @Html.HiddenFor(model => model.number)
    @Html.HiddenFor(model => model.userId)
    @Html.HiddenFor(model => model.deliveryCharge)
    @Html.HiddenFor(model => model.otherCharge)
    @Html.HiddenFor(model => model.total)
    @Html.HiddenFor(model => model.paymentMethodId)
    @Html.HiddenFor(model => model.deliveryAddress)
    @Html.HiddenFor(model => model.cityId)

    <div class="form-group">
        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>


    @*<div class="editor-field">
        Select your status:
        @Html.DropDownList("Status", new List<SelectListItem>{
        new SelectListItem{ Text="Pending", Value="0"},
        new SelectListItem{ Text="Done", Value="1"}
        }, "--- Select ---"
        )
    </div>*@







</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
