
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div style="margin:auto">
    <br />
    <br />

    <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="slider/data/images/1.jpg" alt="SFA" title="SAF" id="wows1_0" /></li>
                <li><img src="slider/data/images/2.jpg" alt="2" title="2" id="wows1_1" /></li>
                <li><a href="http://wowslider.net"><img src="slider/data/images/3.jpg" alt="bootstrap carousel" title="3" id="wows1_2" /></a></li>
                <li><img src="slider/data/images/4.jpg" alt="4" title="4" id="wows1_3" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="SAF"><span><img src="slider/data/tooltips/1.jpg" alt="SAF" />1</span></a>
                <a href="#" title="2"><span><img src="slider/data/tooltips/2.jpg" alt="2" />2</span></a>
                <a href="#" title="3"><span><img src="slider/data/tooltips/3.jpg" alt="3" />3</span></a>
                <a href="#" title="4"><span><img src="slider/data/tooltips/4.jpg" alt="4" />4</span></a>
            </div>
        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">slideshow html code</a> by WOWSlider.com v8.8</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="slider/scripts/wowslider.js"></script>
    <script language="javascript" type="text/javascript" src="slider/scripts/script.js"></script>
    <!-- End WOWSlider.com BODY section -->

    <br />
    <br />

</div>

<div class="row">
    <div class="col-md-6" style="background-color: #808080; border-radius: 10px; padding-right: 5px;">
        <div class="col-md-12" style="background-color: #1bba0f; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; height: 250px; width: 525px; border-radius: 10px;">
            <h4>এ সময়ের কৃষি</h4>
            <img src="images/contents/abc.jpg" style="float: left; margin-right: 40px;" alt="এ সময়ের কৃষি" width="110" height="">
            <ul>
                <li>@Html.ActionLink("এ মাসের কৃষি", "EmasherKrishi", "Sfa")</li>
                <li>@Html.ActionLink("কৃষি আবহাওয়া", "KrishiWeather", "Sfa")</li>
                <li>@Html.ActionLink("বিশেষ পরামর্শ", "BishesPoramorsho", "Sfa")</li>
                <li>@Html.ActionLink("সাম্প্রতিক উদ্ভাবন", "SamprotikUdvabon", "Sfa")</li>
            </ul>
        </div>

        <div class="col-md-12" style="background-color: #1bba0f; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; height: 250px; width: 525px; border-radius: 10px;">
            <h4>কৃষি তথ্য</h4>
            <img src="images/contents/abc.jpg" style="float: left; margin-right: 40px;" alt="কৃষি তথ্য" width="110" height="">
            <ul>
                <li>@Html.ActionLink("ফসলের উৎপাদন প্রযুক্তি (ই-কৃষি)", "FosholerUtpadon", "Sfa")</li>
                <li>@Html.ActionLink("কৃষিভিত্তিক ভিডিও", "KrishiVittikVideo", "Sfa")</li>
                <li>@Html.ActionLink("কৃষিবিষয়ক তথ্য উপাত্ত", "KrishiVittikTotthoUpatto", "Sfa")</li>

            </ul>
        </div>

    </div>
    <div class="col-md-6" style="border-radius: 10px; background-color: #808080; padding-right: 5px;">

        <div class="col-md-12" style="background-color: #1bba0f; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; height: 250px; width: 525px; border-radius: 10px;">
            <h4>সমসাময়িক কৃষি প্রযুক্তি</h4>
            <img src="images/contents/abc.jpg" style="float: left; margin-right: 40px;" alt="সমসাময়িক কৃষি প্রযুক্তি" width="110" height="">
            <ul>
                <li>@Html.ActionLink("খাটো জাতের নারিকেল চাষ", "KhatoNarikel", "Sfa")</li>
                <li>@Html.ActionLink("উন্নত পাটের আঁশ প্রাপ্তিতে করণীয়", "UnnotoPat", "Sfa")</li>
                <li>@Html.ActionLink("ভেজাল সার চেনার উপায়", "VejalSharChenarUpay", "Sfa")</li>
                <li>@Html.ActionLink("গম ক্ষেতে ইঁদুর দমন ব্যবস্থাপনা", "IdurDomon", "Sfa")</li>


            </ul>
        </div>

    </div>

</div>